force-app/main/default/flows/Flow_trigger_create_queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Queue_Object</name>
        <label>Create Queue Object</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <actionName>CreateQueueObject</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueGroup.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueObject</name>
            <value>
                <elementReference>$Record.Object__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateQueueObject</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_new_values</name>
        <label>Assign new values</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>queueGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queueGroup.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Queue_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >queueGroup.DoesSendEmailToMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Send_email_to_members__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exist_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Exist_Queue</name>
        <label>Check Exist Queue</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_new_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Queue</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Flow_trigger_create_queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_trigger_create_queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description
    >Component is responsible by create queue inside group object</description>
        <name>Create_Queue</name>
        <label>Create Queue</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>queueGroup.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Queue_Object</targetReference>
        </connector>
        <inputAssignments>
            <field>DoesSendEmailToMembers</field>
            <value>
                <elementReference
        >$Record.Send_email_to_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Queue_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Exist_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exist_Queue</name>
        <label>Update Exist Queue</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_Queue_Object</targetReference>
        </connector>
        <inputReference>queueGroup</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <object>Queue__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>queueGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
